.DS_Store

.idea
.vscode
.env

__pycache__
*.pyc

wandb/
# gradio
flagged/
out/
log/
logs/
ref/
data/
*cache/

# results 
captures/

# venv 
agentre_redux_env/
.venv/

# files 
*.csv
*.json

# lib 
lib/

# Custom
input_trace_DuIE2.0_v1_old/

input_trace_SciERC/